body {
 background-image: url(rinedzi.bitbucket.io/img/background.png);
 text-align: center;
 margin: 0;
 padding:0;
}

@font-face {
 font-family: "Four trees";
 src: url(fonts/four trees.TTF);
}

#Text {
 font-family: "Four trees";
 text-align: center; 
 font-size: 35px;
 color: #97ab85;
}

.glavnaya { 
  width: 73.3%; 
  height: 475px; 
  background: #cad4a9;
  padding: 20px; 
  border: solid 3px #97ab85; 
  margin: 6px;
  border-radius: 10px;
  display: inline-block;
  float:left;
}

.glavnaya1 { 
  width: 98.6%;
  height: 100px;
  background: #cad4a9;
  border: solid 3px #97ab85;
  margin: 6px;
  border-radius: 10px;
  display: inline-block;
}

.glavnaya2 { 
  width: 9.6%;
  height: 513px;
  background: #cad4a9;
  padding:  1px;
  border: solid 3px #97ab85;
  margin: 6px;
  border-radius: 10px;
  display: inline-block;
  float:left;
}

.glavnaya3 { 
  width: 9.6%;
  height: 513px;
  background: #cad4a9;
  padding:  1px;
  border: solid 3px #97ab85;
  margin: 6px;
  border-radius: 10px;
  display: inline-block;
  float:left;
}

.glavnaya4 {
  width: 50%;
  height: 20px;
  background: #cad4a9;
  padding:  1px;
  border: solid 3px #97ab85;
  margin: 6px;
  border-radius: 10px;
  display: inline-block;
  
}

.play {
  width: 90%;
  height: 36px;
  background: #cad4a9;
  border: solid 3px #97ab85;
  margin: auto 0;
  border-radius: 10px;
  
}

.ls {
  width: %;
  height: 36px;
  background: #cad4a9;
  border: solid 3px #97ab85;
  border-radius: 10px;

}

.pravila {
  width: %;
  height: 36px;
  background: #cad4a9;
  border: solid 3px #97ab85;
  border-radius: 10px;
}

.profile {
  width: %;
  height: 36px;
  background: #cad4a9;
  border: solid 3px #97ab85;
  border-radius: 10px;
}

.obigre {
  width: %;
  height: 36px;
  background: #cad4a9;
  border: solid 3px #97ab85;
  border-radius: 10px;
}

.vhod {
  width: %;
  height: 36px;
  background: #cad4a9;
  border: solid 3px #97ab85;
  border-radius: 10px;
}

.rega {
  width: %;
  height: 36px;
  background: #cad4a9;
  border: solid 3px #97ab85;
  border-radius: 10px;
}
.knopki {
  margin: auto;
  border: 0;
}

@media (min-width: 320px) and (max-width: 600px) {
  .glavnaya  {
  width: 
}
  .glavnaya1 {
    width: 
  }
  .glavnaya2 {
    width: 
  }
  .glavnaya3 {
    width: 
  }
}